*.log
.env.*
!.env.example
.DS_Store
.env
.env.backup
.env.production
.fleet
.phpactor.json
.phpunit.result.cache
/.cache
/.codex
/.cursor/
/.history
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/coverage
/database/*.sqlite
/database/*.sqlite-*
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
